/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* /reset */

/* regole debug */
.debug .container {
  min-height: 200px;
}
.debug [class*='col-'] {
  border: 1px solid black;
}

.debug [class*='col-nested'] {
  border: 1px solid whi;
}
/* framework */


.container::after {
  content: '';
  clear: both;
  display:block;
}

[class*='col-'] {
  float: left;
}

.col-1 {
  width: calc( ( 100% / 12 ) * 1);
}

.col-12 {
  width: calc((100% / 1));
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-2 {
  width: calc((100% / 12 ) * 2);
}
.col-6 {
  width: calc((100% / 12 ) * 6);
}

.col-2-nested {
  width: calc( (100% / 12 ) * 2);
}
.col-8-nested {
  width: calc((100% / 12) * 8);
}
.col-6-nested {
  width: calc((100% / 12 ) * 6);
}
